{% extends 'crud/index.html' %}

{% block content %}

<div class ="form-group">
  <form id='loadform' method="post" action="{% url 'crud:upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class ="text-center">
      <input class = "btn btn-outline-info btn-sm" type="file" name="uploadfile" >
      <button class ="btn btn-outline-info btn-sm" type="submit" >Upload</button>
      {% if uploaded_file_url %}
      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
      {% endif %}
    </div >   
  </form>
</div>

<button class="btn btn-outline-info btn-sm" onclick="location.href='{% url 'crud:mcreate' %}'"> 전공추가 </button>
<hr>

<div name ='result' id = 'result'>
  <table class ="table table-script">
      <tr>
        <td>major_id</td>
        <td>major_title</td>
        <td>button</td>
      </tr>
      {% for major in major_list %}
      <tr>
        <td><a href = "{% url 'crud:detail' major.major_id %}">{{major.major_id }}</a></td>
        <td>{{major.major_title}}</td>
        <td><button class="btn btn-outline-info btn-sm" onclick="location.href='{% url 'crud:medit' major.major_id %}'">수정하기</button>
        <button class="btn btn-outline-info btn-sm" onclick="location.href='{% url 'crud:mdelete' major.major_id %}'">삭제하기</button></td>
      </tr> 
      {% endfor %}
  </table>
</div>
{% endblock %}