{% extends 'crud/base.html' %} 

{% block Ajax2 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(function(){
    $('#btn1').click(function(){
      jQuery.ajax({
          url:'/crud/searchData/',
          dataType:'text', //반환될 데이터 타입
          type:'POST',
          data:{'student_info' : $('#student_info').val()},
          success:function(result){
            $('#result').html(result)
            //['studentID','name','major_id','phone','address','hobby','skill']
          }
        });
    });
});
</script>
{% endblock %}




{% block content %}
<button onclick="location.href='{% url 'crud:screate' %}'"> 추가 </button>
<hr>
<input type="text" id="student_info"  >
<button name="btn1" id="btn1" > 찾기</button>
<hr>
<div name ='result' id = 'result'>
  <table>
      <tr>
        <td>studentID</td>
        <td>name</td>
        <td>major_id</td>
        <td>phone</td>
        <td>address</td>
        <td>hobby</td>
        <td>skill</td>
        <td>button</td>
      </tr>
      {% for student in student_list %}
      <tr>
        <td><a href = "{% url 'crud:detail' student.studentID %}">{{student.studentID }}</a></td>
        <td>{{student.name}}</td>
        <td>{{student.major_id}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.address}}</td>
        <td>{{student.hobby}}</td>
        <td>{{student.skill}}</td>
        <td><button class="btn btn-outline-info btn-sm" onclick="location.href='{% url 'crud:sedit' student.studentID %}'">수정하기</button>
        <button class="btn btn-outline-info btn-sm" onclick="location.href='{% url 'crud:sdelete' student.studentID %}'">삭제하기</button></td>
      </tr> 
      {% endfor %}
  </table>
</div>
{% endblock %}